.date-ttl{
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  margin: 0 450px;
  text-align: center;
}

.date {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.work-schedule {
  width: 1170px;
  margin: 0 50px;
  text-align: center;
  line-height: 50px;
}

th,
td {
  height: 60px;
  border-top: solid 1px gray;
  font-size: 20px;
}

.name {
  text-align: left;
}

.date-change {
  vertical-align: auto;
  border: solid 1px blue;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 30px;
  height: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Pagination-Item-Link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  background: #fff;
  border: solid 2px gainsboro;
  font-size: 14px;
  color: blue;
  font-weight: bold;
  transition: all 0.15s linear;
}