/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-ttl {
  font-size: 30px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.logout-btn {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  align-items: center;
  display: inline-block;
  outline: none;
  border: none;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

/* main */
.main {
  background-color: gainsboro;
  z-index: 3;
  
}

.message {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

/* footer */
.footer-company {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  height: 20px;
  z-index: 2;
  background-color: white;
}