input {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid 1px dimgray;
}

.register-form {
  margin: 10px auto;
  width: 350px;
  font-size: 8px;
}

.regiter-form-item{
  font-size: 15px;
  background-color: gainsboro;
  padding: 0 10px;
  line-height: 30px;
}

.member-regi-btn {
  display: inline-block;
  width: 100%;
  background-color: blue;
  color: white;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 20px;
  border: none;
  font-size: 15px;
}

p,
span {
  text-align: center;
  font-size: 15px;
  color: dimgray;
}

.login {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 100px;

}

.login-a {
  text-decoration: none;
  color: blue;
  font-size: 15px;
}