.stamp-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 300px;
}

.btn {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 30px;
  display: inline-block;
  margin: 30px auto;
  width: 600px;
  height: 250px;
  line-height: 9;
  text-align: center;
  outline: none;
}